

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,700,300);

.btn{
	border-radius:0;
}
.navbar-inverse{
	background-color: #008329;
    border-color: #008329;
    border-radius: 0;
}
.navbar-inverse .navbar-nav>li>a {
    color:#fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #494949;
}
.panel-group .panel {
	border-radius: 0;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #F3F3F3;
    border-color: #e0e0e0;
}
.alert {
	padding:10px;
	border-radius: 0;
}
.btn-dash{
	padding: 5px;
    margin-top: -6px;
}
.dash-title{padding:20px 0;}
.pagination>.active>a, .pagination>.active>a:focus, 
.pagination>.active>a:hover, .pagination>.active>span,
 .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #008329;
    border-color: #008329;
}
.pagination>li>a, .pagination>li>a:focus, .pagination>li>a:hover{
	 color: #008329;
}

h1,h2,h3,h4,h5,label,p{
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 400;
}
/*navigation*/
nav.navbar-inverse{
    background: #018ED5;
    border: 0px;
}
.nav-list li:hover{
    background: #494949;
    transition:all .2s ease-in;
}

/*home*/
.dash-title{
    color: #6e7581;
    margin:0 0 25px 0;
    padding: 0;
}
.site-listing{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.panel-listings{
    border-radius: 0px;
}
.panel-listings h4{
    font-family:"Source Sans Pro",sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.site-listing li a{
    font-family:"Source Sans Pro",sans-serif;
    font-weight: 400;    
    text-decoration: none;  
}
.view-button{
    background: #01A5A7;
    color: #fff;
    border:0px;
    margin:15px 0 0 0;
}
.view-button:hover{
    color: #fff;
    background: #03C6C6;
    transition:all .2s ease-in;
}

/*properties*/
.listing-info:after,.listing-info:before,
.agent-info:after,.agent-info:before{
    clear: both;
    display: table;
    content: " ";
}
.listing-info{
    clear: both;
}
.listing-info ul{
    margin:0;
    padding:0;
    list-style-type: none;
    clear: both;
}
.listing-info ul li{
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 400;
    clear: both;
    color: #666;
}
.listing-info ul li div{
    padding:0;
    margin:0;
}
.agent-info ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
.agent-info ul li{
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 400;   
}
.agent-info ul li div{
    padding:0;
    margin:0;
}
.panel-title a{
    color: #666666;
}
.panel-title a:hover{
    color: #018ED5;
    text-decoration: none;
}
.panel-body label{
    color: #018ed5;
}
.remarks{
    color: #666;
}
.listing-title{
    color: #6e7581;
}
.edit-info-button,
.view-picture-button{
    background: #0190C8;
    border:0px;
    box-shadow: none;
}
.edit-info-button:hover,
.view-picture-button:hover{
    background: #75C1E1;
    border:0px;
    transition:background .2s ease-in;
}
.pagination{
    border:0px;
}
.pagination li{
    border:0px;
}
.pagination > li > a{
    border: 0;
    border-radius: 50% !important;
}
.pagination li a:first-child,
.pagination li a:last-child{
    border-radius: 0px;
}
.list-pagination li a{
    color: #01a5a7;
    margin-right:2px;
} 
.list-pagination li.active a{
    background: #01a5a7;
}
.list-pagination li.active a:hover{
    background: #01a5a7;   
}
.list-pagination li:hover a{
    background: #01a5a7;
    color: #fff; 
}
.property-thumbnail{
	border:1px solid #e3e3e3;
	position: relative;
	z-index: 1;
	width: 280px;
	height: 240px;
	overflow: hidden;
	padding:2px;
}
.property-thumbnail img{
	width: 100%;
	height: 100%;
}
.edit-buttons{
    margin:15px 0;
}

/*dash sidebar*/
.dash-sidebar{
	border:0px;
	padding:0px;
}
.dash-sidebar .sidebar-list label{
	width: 25%;
	float: left;
}

/*modal*/
.modal{
    padding: 0 !important;
}
.modal-dialog{
    width: 100%;
    height: 100%;
    margin:0 auto;
}
.modal-content{
    border-radius:0px;
    border:0px;
}
.modal-header{
    border:0px;
    position: relative;
    z-index: 2;
}
.modal-title{
    font-size:35px; 
    color: #018ed5;
}
.modal-body{
    padding:15px 20%;
}
.modal-footer{
    padding:15px 20%;
    border:0px;
}
.close{
    color: #018ed5;
    opacity: 1;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    font-size:40px;
}
.editable-form input,
.editable-form textarea,
.editable-form select{
    border:0px;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: none;
    border-radius:0px;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 400;
    color: #666;
}
.editable-form textarea{
    resize:none;
}
.editable-form label{
    font-weight: 400;
}
.editable-form input:focus,
.editable-form textarea:focus,
.editable-form select:focus {
    border-bottom: 1px dashed #2A95DD;
    box-shadow: none;
    outline: 0 none;
}
.select-container{
    background: url("../img/caret-down.png") no-repeat scroll 95% center #ffffff;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
    width: 100%;
    z-index: 10;
}
.select-container select{
    -moz-appearance: none !important;
    -webkit-appearance:none !important;
    appearance:none !important;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-indent: 1px;
    text-overflow: "";
}
.property-pics:first-child{
    margin-left:0px;
}
.property-pics{
    margin:5px 10px;
    width: 30%;
    display: inline-block;
}


/*misc*/
.no-padding{
	padding: 0;
}
.no-padding-left{
	padding-left:0;
}
.no-padding-right{
	padding-right:0;
}















